@media (max-width: 480px) {
    .hero-container {
        display: flex;
        padding-bottom: calc(140px - 4%);

        .inner-text {
            width: 50%;
            margin-top: 7vmin;
            margin-left: 0.2vw;
            font-size: 3.5vw;
        }

        h1 {
            font-size: 4.8vw;
        }

        .main-text {
            display: none;
        }
    }

    .link {
        margin-top: -2vmin;
    }

    .subsection-text {
        font-size: 3vw;
    }

    .big-img {
        width: 50%;
        padding: 2.5vmin;
    }

    .subsection-container {
        display: flex;
        margin-top: 4vh;

        h1 {
            font-size: 4vw;
            font-weight: 600;
        }
    }

    .small-imgs {
        transform: rotate(90deg);
        width: 20%;
    }

}

@media (min-width: 481px) and (max-width: 1024px) {
    .hero-container {
        display: flex;
        padding-bottom: calc(140px - 4%);

        .inner-text {
            width: 30%;
            margin-top: 7vmin;
            margin-left: 0.2vw;
            font-size: 2vw;
        }

        h1 {
            font-size: 2.5vw;
        }

    }
    .big-img {
        width: 50%;
        padding: 2.5vmin;
    }

}

@media (min-width: 1025px) {}