/*
Heeman Ijaz
1/28/2025
*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@media (max-width: 480px) {
    .hero-container {
        display: flex;
        padding-bottom: calc(140px - 4%);
        .inner-text {
            width: 90%;
            margin-top: 7vmin;
            font-size: 3.5vw;
            text-align:center;
        }

        h1 {
            font-size: 4.8vw;
        }

    }

    .link {
        margin-top: -2vmin;
    }
    .subsection-text {
        font-size: 3vw;
    }

    .big-img {
        width: 50%;
        margin: 2.5vmin;
    }

    .container-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end; 
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    .subsection-container {
        width: 100%;
        height: 100%;/* Two subsections per row */
        display: flex;
        align-items: center; /* Center content horizontally */
        padding: 10px 0 10px 0;
        margin-top: 15px;
        h1 {
            font-size: 4vw;
            font-weight: 600;
        }
    }

    .small-imgs {
        transform: rotate(90deg);
        width: 20%;
    }

    .main-text,
    .secondary,
    .triary {
        display: none;
    }

}

@media (min-width: 481px) and (max-width: 1024px) {
    .hero-container {
        display: flex;
        align-items: center;

        .inner-text {
            width: 33%;
            font-size: 2vw;
        }

        h1 {
            font-size: 2.5vw;
        }

    }

    .big-img {
        width: 40%;
        margin: 2.5vmin;
    }

    .container-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 1vh;
        height: 70vh;
        width: 100%;
        box-sizing: border-box;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: calc(50% - 5px);
        gap: 160px;
    }

    @media (max-width: 618px) {
        .column {
            gap: 10px;    
        }
    }

    @media (min-width: 619px) and (max-width: 708px) {
        .column {
            gap: 40px;
        }
    }

    @media (min-width: 711px) and (max-width: 845px) {
        .column {
            gap: 85px;
        }
    }


    .subsection-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25vh;
        width: 35vw;

        h1 {
            font-size: 3.4vw;
            font-weight: 600;
        }

        .link {
            font-size: 2.2vw;
            margin-top: -12px;
        }
    }

    .small-imgs {
        width: 85%;
    }

    .triary {
        display: none;
    }

}

@media (min-width: 1025px) {
    .biggest-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding: 20px;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 27%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;

        h1 {
            font-size: 2.5vw;
            margin-bottom: 10px;
        }

        .main-text {
            font-size: 1.2vw;
            margin-bottom: 10px;
        }

        .link {
            font-size: 1.2vw;
        }
    }

    .big-img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .container-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 69%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
    }

    .column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 48%;
        box-sizing: border-box;
    }

    .subsection-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 48%;
        height: 100%;
        box-sizing: border-box;
        padding: 12px;

        h1 {
            font-size: 1.3vw;
        }

        .link {
            margin-top:-8px;
            font-size: 1vw;
        }
    }

    .small-imgs {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

/* Colors and Fonts */
@media (max-width: 480px) { /*higher contrast colours for mobile*/
    :root{
        --primary: #1A73E8;
        --secondary: #c5ecd0;
        --accent: #879169;
        --neutral1: #FFFFFF;
        --neutral2: #F1F3F4;
        --neutral3: #202124;
    }
    body{
        background: var(--secondary);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    a, a:visited {
        color: var(--primary)
    }
    img {
        border: 5px solid var(--accent);
    }
}

@media (min-width: 481px){
    :root{
        --background: #c8ecfe;
        --link: #1A73E8;
        --text: #334586;
        --border: #5a8b91;
        /* #FBBC05 */
    }
    body {
        background: var(--background);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    a, a:visited {
        color: var(--link);
    }
    img {
        border: 5px solid var(--border);
    }
    p {
        color: var(--text);
    }

}